html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #797978;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 10px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 20px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
}
